.sort {
  display: flex;
  align-items: center;
  font-family: Source Sans Pro;
  @include transition-loading;

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #3d374a;
  }

  &__items {
    box-sizing: border-box;
    display: flex;
    margin-left: 8px;
  }

  &__item {
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    border-radius: 2px;
    transition: 0.3s ease;
    padding: 5px 8px;

    &_active {
      color: #fff;
      background: #00a11e;
    }
  }
}
